#root {
  width: 100%;
  background-color: black;
  color: #fff;
}

.navbar{
  padding: 5px;
  background-color: #000;
}
.nav-profile{
  width: 50px;
  height: 50px;
}

.nav-link{
  font-weight: 600;
  color: #bbb;
}
.nav-link:hover{
  color: #ffffff;
}

spline-viewer {
  height: 100vh;
  /* width: 800PX; */
  right: -620px;
}

.my-primary-color{
  color: #9B3064;
}
.my-bg-primary{
  background-color: #9B3064;
}

.role{
  font-weight: 800;
}

.profile-btn:hover{
  background-color: #6f0f3e;
  box-shadow: 0 0 0px rgba(111, 15, 62, 0.8);
  /* background-color: #9B3064; */
  border-radius: 10px;
  color: #ddd;
  width: 135px;
  height: 40px;
}
.profile-btn{
  box-shadow: 0 0 15px rgba(111, 15, 62, 0.8);
  border: 2px solid #6f0f3e;
  border-radius: 10px;
  color: #ddd;
  width: 135px;
  height: 40px;
}
.profile-btn a{
  color: #fff;
}
.tagline{
  font-size: 40px;
  font-weight: bold;
}

.profile{
  background-color: #181818;
  height: 681px;
}

.profile-name{
  font-size: 28px;
  font-weight: bold;
}

.profile-sosmed button{
  padding: 0;
  width: 35px;
  height: 35px;
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.profile-sosmed img{
  width: 25px;
  height: 25px;
}

.project-tittle{
  font-size: 35px;
  font-weight: bold;
}

.project-header{
  border-radius: 5px 5px 0 0;
  background-color: #6f0f3e;
}

.project-name{
  font-size: 30px;
}

.project-description{
  font-size: 18px;
  line-height: 25px;
}

.project-body{
  background-color: #181818;
  border-radius: 0 0 5px 5px;
}

.skills{
  /* margin-top: 150px; */
  margin-bottom: 150px;
}

.skills-tittle{
  font-size: 35px;
  font-weight: bold;
}

.skill-card{
  transform-style: preserve-3d;
  background-color: #181818;
  height: 320px;
  width: 280px;
  border-radius: 5px;
}

.skill-img{
  transform: translate3d(0, 0, 100px) ;
  width: 200px;
  height: 200px;
}

.skill-name{
  /* transform: translate3d(0, 0, 100px) ; */
  font-size: 25px;
}

.contact-tittle{
  font-size: 35px;
  font-weight: bold;
}
.form-control{
  background-color: #bbb;
}

.form-label{
  color: #bbb;
}

.btn-contact{
  /* border: 2px solid #aa1e62; */
  box-shadow: 0 0 15px rgba(111, 15, 62, 0.8);
  background-color: #9B3064;
  border-radius: 10px;
  color: #ddd;
  width: 135px;
  height: 40px;
}
.btn-contact:hover{
  box-shadow: 0 0 0px rgba(111, 15, 62, 0.8);
  background-color: #6f0f3e;
  border-radius: 10px;
  color: #ddd;
  width: 135px;
  height: 40px;
}

.contact-input{
  background-color: #181818;
  border-radius: 10px;
  padding: 20px;
}

.spline-contact{
  height: 383px;
  border-radius: 10px;
}

footer{
  background-color: #000000;
  height: 80px;
}
.footer-sosmed a{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 3px;
  width: 40px;
  height: 40px;
  background-color: #bbb;
}
.footer-sosmed a:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 3px;
  width: 40px;
  height: 40px;
  background-color: #fff;
}
.footer-sosmed img{
  width: 30px;
  height: 30px;
}

.my-text-color{
  color: #bbb;
}